{{!-- main blog post --}}
<br>
<section class="blog">
  <div class="blog-details">
    <h2>{{blog.name}}</h2>
    <h5>{{blog.description}}</h5>
    <p class="author">Author: {{blog.user.name}}</p>
    <p class="author">Date Created: {{blog.createdAt}}</p>
    <button id="changeBtn" data-id={{blog.id}} onClick="location.href='/blogs/changeBlog/{{blog.id}}'">Change Blog</button>
  </div>
</section>
{{!-- comment section --}}
    <div class="comments">
        {{#each blog.Comments}}
        <div class='card'>
            <p>{{description}}</p>
            <p class="author">By: {{name}}</p>
            <p class="author">Date Created: {{createdAt}}</p>
        </div>
        <br>
        {{/each}}
    </div>
<br><br>

{{!-- add comment section --}}
    <form id="addComment-form">
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Add a Comment Here..."></textarea><br>
        <button>Add Comment!</button>
    </form>

</section>

<script src="/js/newComment.js"></script>